@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* bg-black bg-opacity-50 */
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}